<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCu7lwN0D8GqT0tMj7Gm8GdNPjKxNAQ2gk</string>
	<key>GCM_SENDER_ID</key>
	<string>1000318033211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.historicalBotApp</string>
	<key>PROJECT_ID</key>
	<string>historical-bot-login</string>
	<key>STORAGE_BUCKET</key>
	<string>historical-bot-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000318033211:ios:68a7c2dd19748762e32b1e</string>
</dict>
</plist>